# EMAIL SPAM DETECTION WITH ML -TASK4
NAME : P.VISHNU VARDHAN 
BATCH NAME : AUGUST PHASE-2 (OIBSIP)

In [80]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report

In [81]:
ds = pd.read_csv("spam.csv",encoding='latin')

In [82]:
ds

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [83]:
ds.sample(10)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
4683,ham,"My life Means a lot to me, Not because I love ...",NaN,NaN,NaN
4496,ham,Ok,NaN,NaN,NaN
5121,ham,"Oops I did have it, &lt;#&gt; ?",NaN,NaN,NaN
1501,spam,HOT LIVE FANTASIES call now 08707509020 Just 2...,NaN,NaN,NaN
592,spam,PRIVATE! Your 2003 Account Statement for 07753...,NaN,NaN,NaN
3672,ham,Moji just informed me that you saved our lives...,NaN,NaN,NaN
3879,ham,Hi juan. Im coming home on fri hey. Of course ...,NaN,NaN,NaN
2441,ham,Back in brum! Thanks for putting us up and kee...,NaN,NaN,NaN
5161,ham,Lol no. I just need to cash in my nitros. Hurr...,NaN,NaN,NaN
407,ham,Hello! Good week? Fancy a drink or something l...,NaN,NaN,NaN

In [84]:
ds.shape

(5572, 5)

In [85]:
print("Rows--->",ds.shape[0])
print("Columns--->",ds.shape[1])

Rows---> 5572
Columns---> 5

In [86]:
ds.isnull()

         v1     v2  Unnamed: 2  Unnamed: 3  Unnamed: 4
0     False  False        True        True        True
1     False  False        True        True        True
2     False  False        True        True        True
3     False  False        True        True        True
4     False  False        True        True        True
...     ...    ...         ...         ...         ...
5567  False  False        True        True        True
5568  False  False        True        True        True
5569  False  False        True        True        True
5570  False  False        True        True        True
5571  False  False        True        True        True

[5572 rows x 5 columns]

In [87]:
ds.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [88]:
ds.isna().mean()

v1            0.000000
v2            0.000000
Unnamed: 2    0.991027
Unnamed: 3    0.997846
Unnamed: 4    0.998923
dtype: float64

In [89]:
ds.drop(columns=['Unnamed: 3'],axis=0,inplace=True)

In [90]:
ds

,v1,v2,Unnamed: 2,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN
...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN

In [91]:
ds

,v1,v2,Unnamed: 2,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN
...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN

In [92]:
ds.shape

(5572, 4)

In [97]:
ds.columns=['spam/ham','SMS']

ValueError: Length mismatch: Expected axis has 4 elements, new values have 2 elements

In [94]:
ds.loc[ds['spam/ham'] == 'spam', 'spam/ham',] = 0
ds.loc[ds['spam/ham'] == 'ham', 'spam/ham',] = 1

KeyError: 'spam/ham'

In [ ]:
ds

In [ ]:
x = ds.SMS

Train the model with spam dataset

In [95]:
y = ds['spam/ham']
y

KeyError: 'spam/ham'

In [96]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size = 0.2,random_state=3)

In [56]:
print(x.shape)

(5572,)

In [57]:
print(xtrain.shape)

(4457,)

In [58]:
print(xtest.shape)

(1115,)

In [59]:
print(ytrain.shape)

(4457,)

In [60]:
print(ytest.shape)

(1115,)

In [61]:
xtrain,xtest

(3075    Mum, hope you are having a great day. Hoping t...
 1787                           Yes:)sura in sun tv.:)lol.
 1614    Me sef dey laugh you. Meanwhile how's my darli...
 4304                Yo come over carlos will be here soon
 3266                    Ok then i come n pick u at engin?
                               ...
 789                          Gud mrng dear hav a nice day
 968             Are you willing to go for aptitude class.
 1667    So now my dad is gonna call after he gets out ...
 3321    Ok darlin i supose it was ok i just worry too ...
 1688                     Nan sonathaya soladha. Why boss?
 Name: SMS, Length: 4457, dtype: object,
 2632                       I WILL CAL YOU SIR. In meeting
 454     Loan for any purpose å£500 - å£75,000. Homeown...
 983     LOOK AT THE FUCKIN TIME. WHAT THE FUCK YOU THI...
 1282    Ever green quote ever told by Jerry in cartoon...
 4610                                  Wat time Ì_ finish?
                               ...
 4827    Lol no. Just trying to make your day a little ...
 5291      Xy trying smth now. U eat already? We havent...
 3325    Huh so fast... Dat means u havent finished pai...
 3561    Still chance there. If you search hard you wil...
 1136    Dont forget you can place as many FREE Request...
 Name: SMS, Length: 1115, dtype: object)

In [62]:
ytrain,ytest

(3075    1
 1787    1
 1614    1
 4304    1
 3266    1
        ..
 789     1
 968     1
 1667    1
 3321    1
 1688    1
 Name: spam/ham, Length: 4457, dtype: object,
 2632    1
 454     0
 983     1
 1282    1
 4610    1
        ..
 4827    1
 5291    1
 3325    1
 3561    1
 1136    0
 Name: spam/ham, Length: 1115, dtype: object)

In [63]:
feat_vect = TfidfVectorizer(stop_words='english',lowercase=True)
feat_vect

TfidfVectorizer(stop_words='english')

In [66]:
ytrain=ytrain.astype('int')
ytest=ytest.astype('int')

In [70]:
xtrain_vec = feat_vect.fit_transform(xtrain)

In [68]:
xtest_vec = feat_vect.transform(xtest)
print(xtrain)

3075    Mum, hope you are having a great day. Hoping t...
1787                           Yes:)sura in sun tv.:)lol.
1614    Me sef dey laugh you. Meanwhile how's my darli...
4304                Yo come over carlos will be here soon
3266                    Ok then i come n pick u at engin?
                              ...
789                          Gud mrng dear hav a nice day
968             Are you willing to go for aptitude class.
1667    So now my dad is gonna call after he gets out ...
3321    Ok darlin i supose it was ok i just worry too ...
1688                     Nan sonathaya soladha. Why boss?
Name: SMS, Length: 4457, dtype: object

In [71]:
xtrain_vec
print("xtrain--->",xtrain_vec)
print("xtest---->",xtest_vec)

xtrain--->   (0, 741)	0.3219352588930141
  (0, 3979)	0.2410582143632299
  (0, 4296)	0.3891385935794867
  (0, 6599)	0.20296878731699391
  (0, 3386)	0.3219352588930141
  (0, 2122)	0.38613577623520473
  (0, 3136)	0.440116181574609
  (0, 3262)	0.25877035357606315
  (0, 3380)	0.21807195185332803
  (0, 4513)	0.2909649098524696
  (1, 4061)	0.380431198316959
  (1, 6872)	0.4306015894277422
  (1, 6417)	0.4769136859540388
  (1, 6442)	0.5652509076654626
  (1, 7443)	0.35056971070320353
  (2, 933)	0.4917598465723273
  (2, 2109)	0.42972812260098503
  (2, 3917)	0.40088501350982736
  (2, 2226)	0.413484525934624
  (2, 5825)	0.4917598465723273
  (3, 6140)	0.4903863168693604
  (3, 1599)	0.5927091854194291
  (3, 1842)	0.3708680641487708
  (3, 7453)	0.5202633571003087
  (4, 2531)	0.7419319091456392
  :	:
  (4452, 2122)	0.31002103760284144
  (4453, 999)	0.6760129013031282
  (4453, 7273)	0.5787739591782677
  (4453, 1762)	0.45610005640082985
  (4454, 3029)	0.42618909997886
  (4454, 2086)	0.3809693742808703
  (4454, 3088)	0.34475593009514444
  (4454, 2001)	0.4166919007849217
  (4454, 1049)	0.31932060116006045
  (4454, 7346)	0.31166263834107377
  (4454, 5370)	0.42618909997886
  (4455, 1148)	0.38998123077430413
  (4455, 6433)	0.38998123077430413
  (4455, 6361)	0.25697343671652706
  (4455, 2764)	0.3226323745940581
  (4455, 7358)	0.2915949626395065
  (4455, 7407)	0.3028481995557642
  (4455, 2108)	0.3136468384526087
  (4455, 4251)	0.30616657078392584
  (4455, 3763)	0.16807158405536876
  (4455, 4773)	0.35860460546223444
  (4456, 6117)	0.5304350313291551
  (4456, 6133)	0.5304350313291551
  (4456, 1386)	0.4460036316446079
  (4456, 4557)	0.48821933148688146
xtest---->   (0, 6007)	0.537093591660729
  (0, 4294)	0.5159375448718375
  (0, 1537)	0.667337188824809
  (1, 7222)	0.23059492898537967
  (1, 6599)	0.14954692788663673
  (1, 6579)	0.2733682162643466
  (1, 5501)	0.28671640581392144
  (1, 5347)	0.2733682162643466
  (1, 5250)	0.28671640581392144
  (1, 4045)	0.250549335510249
  (1, 3365)	0.28671640581392144
  (1, 3300)	0.37297727661877506
  (1, 2899)	0.1385795841356552
  (1, 602)	0.28671640581392144
  (1, 520)	0.19344507865262492
  (1, 321)	0.28671640581392144
  (1, 43)	0.24547458936715758
  (1, 1)	0.21260233518669946
  (2, 6701)	0.30969080396105314
  (2, 6648)	0.3410121739015846
  (2, 4070)	0.44361668503137164
  (2, 2941)	0.6068486133983123
  (2, 2939)	0.47195476517479323
  (3, 7101)	0.29334330258175106
  (3, 6746)	0.2031810874151213
  :	:
  (1111, 7415)	0.4945753828645536
  (1111, 6848)	0.39685462025643714
  (1111, 6093)	0.4671914311419049
  (1111, 3259)	0.4477622081928626
  (1111, 2458)	0.42325261089251354
  (1112, 4903)	0.4770390302498559
  (1112, 4282)	0.3509184569755111
  (1112, 3432)	0.36314080337211135
  (1112, 3259)	0.36314080337211135
  (1112, 2780)	0.374513931687687
  (1112, 2704)	0.3704547809702326
  (1112, 2114)	0.3287097264348074
  (1113, 6846)	0.4168758749641195
  (1113, 5806)	0.488439471695463
  (1113, 3963)	0.3910346709289789
  (1113, 3239)	0.488439471695463
  (1113, 1657)	0.44289971323548966
  (1114, 7295)	0.33014792863496223
  (1114, 6902)	0.3063326681877805
  (1114, 5565)	0.5010303679312903
  (1114, 5073)	0.3194139844000448
  (1114, 3564)	0.40844238751288037
  (1114, 2899)	0.2421646568502054
  (1114, 2862)	0.38140394975458775
  (1114, 2352)	0.270495916357943

In [72]:
model = LogisticRegression()

In [73]:
model.fit(xtrain_vec,ytrain)

LogisticRegression()

In [75]:
model.score(xtrain_vec,ytrain)

0.9661207089970832

In [76]:
predict_model = model.predict(xtest_vec)
predict_model

array([1, 1, 1, ..., 1, 1, 1])

In [77]:
accuracy_score(ytest,predict_model)

0.9623318385650225

In [78]:
confusion_matrix(ytest,predict_model)

array([[114,  41],
       [  1, 959]], dtype=int64)

In [79]:
print(classification_report(ytest,predict_model))

              precision    recall  f1-score   support

           0       0.99      0.74      0.84       155
           1       0.96      1.00      0.98       960

    accuracy                           0.96      1115
   macro avg       0.98      0.87      0.91      1115
weighted avg       0.96      0.96      0.96      1115